<div class="tab-pane fade in" id="tab-2">
                        <!-- second tab -->
                        <div class="event-tab1">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <ul class="nav nav-pills">
                                        <li class="active">
                                            <a data-toggle="pill" href=".menu-1">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/cocoaheadsbr.png" alt="">
                                                    </div>
                                                    <h4>Credenciamento</h4>
                                                    <p>08:00 AM - Área Comum</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-2">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/douglasfischer.png" alt="">
                                                    </div>
                                                    <h4>Douglas Fischer</h4>
                                                    <p>09:00 AM - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-3">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/rodrigoborges.png" alt="">
                                                    </div>
                                                    <h4>Rodrigo Borges</h4>
                                                    <p>09:20 AM - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-4">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/francescoperrotti.png" alt="">
                                                    </div>
                                                    <h4>Francesco Perrotti</h4>
                                                    <p>10:00 AM - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-5">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/cynthiazanoni.png" alt="">
                                                    </div>
                                                    <h4>Cynthia Zanoni</h4>
                                                    <p>10:40 AM - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-6">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/brunobilescky.png" alt="">
                                                    </div>
                                                    <h4>Bruno Bilescky</h4>
                                                    <p>11:15 AM - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-7">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/julianasalgado.png" alt="">
                                                    </div>
                                                    <h4>Juliana Salgado</h4>
                                                    <p>12:00 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-8">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/cocoaheadsbr.png" alt="">
                                                    </div>
                                                    <h4>Almoço</h4>
                                                    <p>12:30 - Restaurante</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-9">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/fernandobunn.png" alt="">
                                                    </div>
                                                    <h4>Fernando Bunn</h4>
                                                    <p>14:00 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-10">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/marcelofabri.png" alt="">
                                                    </div>
                                                    <h4>Marcelo Fabri</h4>
                                                    <p>14:45 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-11">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/diogotridapalli.png" alt="">
                                                    </div>
                                                    <h4>Diogo Tridapalli</h4>
                                                    <p>15:30 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-12">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/guilhermerambo.png" alt="">
                                                    </div>
                                                    <h4>Guilherme Rambo</h4>
                                                    <p>16:15 PM - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-13">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/placeholder.png" alt="">
                                                    </div>
                                                    <h4>Coffebreak & Networking</h4>
                                                    <p>17:00 PM - Área externa</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-14">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/talespinheiro.png" alt="">
                                                    </div>
                                                    <h4>Tales Pinheiro</h4>
                                                    <p>17:30 PM - Auditório</p>
                                                </div>
                                            </a>
                                        </li>                                         
                                    </ul>
                                </div>
                                <div class="column-2 col-md-9 col-sm-9 col-xs-12">
                                    <div class="event-tab-content1">
                                        <div class="tab-pane active menu-1">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Credenciamento & Coffee-break</h2>
                                                    <h3>Se for seu primeiro dia, pegue seu crachá!</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Aproveite esse momento para se informar sobre os workshops e demais atividades de cada sala. Converse com os participantes e tome um café.</p>
                                                    <a href="#" class="btn-default capetalize">Área Comum</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-2">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Abertura do segundo dia de evento</h2>
                                                    <h3>E breve recado dos apoiadores!</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Cerimônia de abertura do segundo dia de evento, com breve palavra das empresas apoiadoras e apresentação das atividades do dia.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-3">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Notificações no iOS 10</h2>
                                                    <h3>Rich Notifications.</h3>
                                                </div>
                                                <div class="text">
                                                    <p>O iOS 10 trouxe muitas mudanças, mas uma das mais impactantes no dia a dia dos devs é relacionada as API's de Push Notifications. Vamos entender o que você precisa fazer para tirar o maior proveito das Rich Notifications.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-4">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Good Code</h2>
                                                    <h3>O que é e como fazer!</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Escrever código bom não é uma tarefa simples. Vamos abordar como reconhecer melhorias e aplicá-las em nossos códigos e quais features de Swift e bibliotecas podem nos auxiliar nessa tarefa.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-5">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Azure SDK para apps iOS nativos</h2>
                                                    <h3>Ainda orfão do Parse?</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Azure SDK para apps iOS nativos.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-6">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Dando valor para "Value Types"</h2>
                                                    <h3>Structs, Enums, Protocolos, Imutabilidade, Programação funcional, Testes</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Structs, Enums, Protocolos, Imutabilidade, Programação funcional, Testes</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-7">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Acessibilidade em alto e bom som</h2>
                                                    <h3>Dando voz aos seus aplicativos</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Juliana oferece uma visão geral dos recursos de acessibilidade existentes que os desenvolvedores podem (e devem) explorar. Será apresentado como tornar o seu aplicativo acessível aos deficientes visuais através de um case real do app iFood.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-8">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Almoço & Networking</h2>
                                                    <h3>Hora de comer!</h3>
                                                </div>
                                                <div class="text">
                                                    <p>O almoço é servido no restaurante do Mercado Livre e fica disponível até as 14:00.</p>
                                                    <a href="#" class="btn-default capetalize">Restaurante</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-9">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Debugging Tricks</h2>
                                                    <h3>LLDB é seu amigo.</h3>
                                                </div>
                                                <div class="text">
                                                    <p>LLDB é aquele cara tímido que gosta de aparecer quando seu app da crash.
                                Vamos ver algumas dicas e truques de como usar o LLDB para facilitar a sua vida, quem sabe ele te ajuda a remover alguns NSLogs, códigos de teste (aquele que acaba indo pro cliente) ou até mesmo evitar build and runs desnecessários.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-10">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Geração de Código</h2>
                                                    <h3><span class="emoji">👍</span> ou <span class="emoji">👎</span>?</h3>
                                                </div>
                                                <div class="text">
                                                    <p>O que é? Por que fazer? É bom ou ruim? Onde vive? Do que se alimenta? Dia 03, <strike>no Globo Repórter</strike> na palestra do Fabri.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-11">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>iOS Architecture</h2>
                                                    <h3>Adapt to survive!</h3>
                                                </div>
                                                <div class="text">
                                                    <p>MVC+MVVM+Coordinator+Other stuffs.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-12">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Mind: blown!</h2>
                                                    <h3>Três conceitos que farão a diferença nos seus apps.</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Nesta talk Guilherme irá apresentar três padrões que adotou e que mudaram significativamente a qualidade dos seus apps: Abstrair a internet dos seus view controllers; calcular diferenças entre coleções de models e lidar com navegação entre telas.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>                                         
                                        <div class="tab-pane menu-13">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>A definir</h2>
                                                    <h3>Talk ou Coffee-break?</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Atividade aguardando definição.</p>
                                                    <a href="#" class="btn-default capetalize">Local indefinido</a>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="tab-pane menu-14">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Sorteios & Encerramento</h2>
                                                    <h3>Hora de dar tchau!</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Iremos realizar alguns sorteios de coisinhas gentilmente cedidas pelas empresas apoiadoras e encerrar o evento!</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>           
                                    </div>
                                </div>                                 
                            </div>
                        </div>                         
                    </div>