<div class="tab-pane fade in active tab-1" id="tab-1">
                        <!-- second tab -->
                        <div class="event-tab1">
                            <div class="row">
                                <div class="column-1 col-md-3 col-sm-12 col-xs-12">
                                    <ul class="nav nav-pills">
                                        <li class="active">
                                            <a data-toggle="pill" href=".menu-1">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/cocoaheadsbr.png" alt="">
                                                    </div>
                                                    <h4>Credenciamento</h4>
                                                    <p>17:30 - Recepção</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-2">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/johncalistro.png" alt="">
                                                    </div>
                                                    <h4>John Calistro</h4>
                                                    <p>18:15 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-3">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/placeholder.png" alt="">
                                                    </div>
                                                    <h4>Edson (Mercado Livre)</h4>
                                                    <p>18:30 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-4">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/paulofaria.png" alt="">
                                                    </div>
                                                    <h4>Paulo Faria</h4>
                                                    <p>19:00 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-5">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/cocoaheadsbr.png" alt="">
                                                    </div>
                                                    <h4>Coffeebreak</h4>
                                                    <p>20:00 - Área comum</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-6">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/placeholder.png" alt="">
                                                    </div>
                                                    <h4>A definir</h4>
                                                    <p>20:30 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-7">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/placeholder.png" alt="">
                                                    </div>
                                                    <h4>Branch.io</h4>
                                                    <p>21:10 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href=".menu-8">
                                                <div class="author">
                                                    <div class="img-box">
                                                        <img src="images/resource/viniciuscarvalho.png" alt="">
                                                    </div>
                                                    <h4>Vinicius Carvalho</h4>
                                                    <p>21:40 - Auditório</p>
                                                </div>
                                            </a>
                                        </li>                                         
                                    </ul>
                                </div>
                                <div class="column-2 col-md-9 col-sm-9 col-xs-12">
                                    <div class="event-tab-content1">
                                        <div class="tab-pane active menu-1">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Credenciamento</h2>
                                                    <h3>Pegue seu crachá e material do evento.</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Aproveite esse momento para se apresentar aos participantes, conhecer aquela pessoa que você conversa apenas pela internet e postar sobre o evento nas redes sociais.</p>
                                                    <a href="#" class="btn-default capetalize">Recepção</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-2">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Abertura do evento</h2>
                                                    <h3>Declaramos aberta a 1º CocoaHeads Conference.</h3>
                                                </div>
                                                <div class="text">
                                                    <p>O momento tão esperado por todos: A abertura do primeiro evento nacional do CocoaHeads Brasil! Um momento muito emocionante e um marco para toda a comunidade iOS.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-3">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>A Black Friday da minha vida</h2>
                                                    <h3></h3>
                                                </div>
                                                <div class="text">
                                                    <p>Uma brilhante mente da equipe de desenvolvimento do Mercado pago sugeriu o desenvolvimento de um app de ofertas, vésperas da Black Friday!</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-4">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Modelos de concorrência e Swift no servidor</h2>
                                                    <h3>Desmistificando modelos de concorrência e suas aplicações em Swift no servidor.</h3>
                                                </div>
                                                <div class="text">
                                                    <p>O Paulo Faria, fundador do famoso projeto Zewo e hoje membro do Core Team de API's Swift Server da Apple irá explicar como usufruir do Swift para aplicações web.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-5">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Coffeebreak & Networking</h2>
                                                    <h3>Pausa para um lanche!</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Um intervalo para passear pela área comum do local, tomar um café e claro, bater papo com todos os incríveis participantes. Aproveite esse momento para ficar de olho na programação do Sábado.</p>
                                                    <a href="#" class="btn-default capetalize">Área Comum</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-6">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Sympla & mobile apps</h2>
                                                    <h3></h3>
                                                </div>
                                                <div class="text">
                                                    <p>Cristiano fala como foi trabalhar na reformulação e criação do aplicativo da Sympla.</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane menu-7">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Branch - Deep Links</h2>
                                                    <h3>Entendendo deep links e como facilitar sua vida usando o Branch.io</h3>
                                                </div>
                                                <div class="text">
                                                    <p>A Branch.io envia um de seus engenheiros mobile para o Brasil para falar sobre Deep Links. Esse recurso tão útil e ainda tão pouco utilizado pelos apps nacionais!</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>                                             
                                        <div class="tab-pane menu-8">
                                            <div class="post-content">
                                                <div class="section-title">
                                                    <h2>Sorteios & Encerramento</h2>
                                                    <h3>Agradecimento, sorteio, encerramento e feedback!</h3>
                                                </div>
                                                <div class="text">
                                                    <p>Vinicius irá sortear alguns brindes cedidos pelos apoiadores do evento e o primeiro dia de evento chega ao fim!</p>
                                                    <a href="#" class="btn-default capetalize">Auditório</a>
                                                </div>
                                            </div>
                                        </div>              
                                    </div>
                                </div>                                 
                            </div>
                        </div>                         
                    </div>