<div class="tab-pane fade in" id="tab-3">
    <!-- second tab -->
    <div class="event-tab1">

        <div class="row">

<!-- nav pills start -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <ul class="nav nav-pills">
                {% for talk in site.data.talks.talks %}
                    {% if talk.type == "workshop" %}                    
                        
                        {% for speaker in site.data.speakers.speakers %}
                            {% if speaker.id == talk.speaker %}
                                {% assign author = speaker %}
                            {% endif %}
                        {% endfor %}

                        {% assign room = site.data.rooms.rooms[talk.room] %}
                        <li>
                            <a data-toggle="pill" href=".menu-{{forloop.index}}">
                                <div class="author">
                                    <div class="img-box">                                                                            
                                        <img src="{% if author.smallimage != "" %}{{author.smallimage}}{%else%}images/resource/placeholder.png{%endif%}" alt="Foto do {{author.name}}">
                                    </div>
                                    <h4>{{author.name}} - {{talk.title}}</h4>
                                    <p>Sessão -  {{room.title}} <br> {{talk.date | date: "%H:%M"}}</p>
                                </div>
                            </a>

                        </li>
                    {% endif %}
                {% endfor %}

                </ul>
            </div>

<!-- nav pills end -->


<!-- content start -->

            <div class="column-2 col-md-9 col-sm-9 col-xs-12">
                <div class="event-tab-content1">
                    {% for talk in site.data.talks.talks %}
                    {% assign room = site.data.rooms.rooms[talk.room] %}
                    {% if talk.type == "workshop" %}
                    <div class="tab-pane menu-{{forloop.index}} evento">
                        <div class="post-content">
                            <div class="section-title">
                                <h2>{{talk.title}}</h2>
                                <h3>{{talk.summary}}</h3>
                            </div>
                            <div class="text">
                                <p>{{talk.description}}</p>
                                <a href="#" class="btn-default capetalize">{{room.title}}</a>
                            </div>                            
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}                    
                    
                </div>                                 
            </div>
<!-- content end --> 
        </div>                         
    </div>  
</div>  