@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200i,200,400,600");
/* herdado do site principal */
.header {
  position: relative;
  z-index: 99; }
  .header.transparent-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99; }

.main-header {
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 99;
  padding-top: 17px;
  background: transparent;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease; }
  .main-header.stricky-fixed {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding-top: 0px; }
    .main-header.stricky-fixed .navbar .navbar-collapse > ul > li > a {
      color: #fff; }
  .main-header .logo {
    position: relative;
    margin-top: 17px;
    z-index: 9999;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease; }
  .main-header .nav-outer {
    position: relative;
    float: right; }

.navbar {
  position: relative;
  margin-bottom: 0px;
  border: 0px solid transparent; }
  .navbar .navbar-collapse > ul {
    padding: 0;
    margin: 0;
    margin-top: 30px; }
    .navbar .navbar-collapse > ul > li {
      display: inline-block;
      position: relative;
      margin: 0 10px; }
      .navbar .navbar-collapse > ul > li:hover > ul {
        opacity: 1;
        visibility: visible;
        transition: .5s; }
      .navbar .navbar-collapse > ul > li > a {
        display: block;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 30px;
        transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease; }
      .navbar .navbar-collapse > ul > li > ul {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        background: #fff;
        width: 240px;
        margin: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
        border: 1px solid #EEE;
        border-top: 2px solid #ff9a00;
        border-bottom-left-radius: 5px;
        transition: all .5s ease; }
        .navbar .navbar-collapse > ul > li > ul > li {
          display: block;
          position: relative; }
          .navbar .navbar-collapse > ul > li > ul > li:last-child > a {
            border-bottom: 0; }
          .navbar .navbar-collapse > ul > li > ul > li > a {
            display: block;
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            color: #232323;
            padding: 10px 19px;
            transition: all .3s ease;
            text-align: left; }

.mainmenu-area {
  position: relative; }
  .mainmenu-area .navbar-collapse > ul > li:hover > a {
    color: #ff9a00;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease; }

.navbar .navbar-collapse > ul > li > ul > li:hover > a {
  background: #F9F9F9;
  color: #ff9a00;
  padding-left: 23px; }

.navbar .navbar-collapse > ul > li > ul > li:hover > ul {
  opacity: 1;
  visibility: visible; }

.navbar .navbar-collapse > ul > li > ul > li > ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 240px;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  background: #fff;
  box-shadow: 2px 0 11px -3px rgba(0, 0, 0, 0.2);
  transition: all .5s ease; }

.navbar .navbar-collapse > ul > li > ul > li > ul > li {
  display: block;
  position: relative; }

.navbar .navbar-collapse > ul > li > ul > li > ul > li:last-child > a {
  border-bottom: 0; }

.navbar .navbar-collapse > ul > li > ul > li > ul > li > a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #232323;
  padding: 10px 19px;
  transition: all .3s ease;
  text-align: left; }

.navbar .navbar-collapse > ul > li > ul > li > ul > li:hover > a {
  background: #F9F9F9;
  color: #ff9a00;
  border-color: 0;
  padding-left: 23px; }

/* scss da página de talk */
header.talk {
  background: rgba(0, 0, 0, 0.8); }
  header.talk .main-header {
    padding-top: 0; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sp-social ul li {
  display: inline-block; }

.social-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  background: #212739;
  display: inline-block;
  color: #fff;
  line-height: 46px;
  text-align: center; }

a.social-btn:hover {
  background: #ff9a00;
  color: #fff; }

#talks {
  margin-top: 10px;
  margin-bottom: 10px; }
  #talks h3 {
    margin-bottom: 10px; }
  #talks .talk-block {
    text-align: left; }
  #talks .list {
    margin-top: 20px;
    margin-bottom: 20px; }
  #talks .center {
    margin-bottom: 20px; }

#talk-list {
  margin-bottom: 20px; }
  #talk-list h1 {
    margin-top: 20px;
    font-weight: 700; }
  #talk-list p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 300; }

.talk-block {
  background-color: #f8f8f8;
  border-radius: 20px;
  min-height: 300px;
  max-width: 400px;
  margin-bottom: 10px; }
  .talk-block .image {
    background-size: cover;
    min-height: 300px;
    border-radius: 20px; }
  .talk-block .content {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    max-width: 400px; }
    .talk-block .content h2 {
      font-size: 1.5rem;
      color: #fafafa;
      font-weight: 700;
      padding: 0 20px 0 20px; }
    .talk-block .content h3 {
      padding: 0 20px 20px 20px;
      color: #fefefe;
      font-weight: 400;
      font-size: 1.2rem; }
  .talk-block .faded-background {
    position: absolute;
    bottom: 0;
    background: linear-gradient(red, yellow);
    width: 100%; }
  @media (max-width: 780px) {
    .talk-block {
      margin: 10px auto; } }

#talk-page {
  margin-bottom: 20px; }
  #talk-page h1 {
    margin-bottom: 20px;
    font-size: 1.5rem; }
  #talk-page .transcription .description {
    color: #888;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.1rem; }
  #talk-page aside {
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px; }
    #talk-page aside h2 {
      margin-top: 5px; }
    #talk-page aside .description {
      text-align: left;
      font-size: 2rem;
      line-height: 1rem; }
    #talk-page aside .sp-social {
      margin-top: 10px; }
    @media (max-width: 1023px) {
      #talk-page aside {
        margin-top: 10px;
        margin-bottom: 10px; } }
  #talk-page p {
    color: #444; }

.talk-video {
  width: 100vw;
  height: 600px;
  margin-bottom: 30px; }
  @media (max-width: 1280px) {
    .talk-video {
      height: 400px; } }
  @media (max-width: 500px) {
    .talk-video {
      height: 200px; } }

.avatar {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  background-size: 100%;
  background-image: url(../images/resource/placeholder.png); }

.avatar1 {
  background-image: url(../images/team/francesco-perrotti.jpg); }

.avatar2 {
  background-image: url(../images/team/rodrigo-borges.jpg); }

.avatar3 {
  background-image: url(../images/team/fernando-bunn.jpg); }

.avatar4 {
  background-image: url(../images/team/diogo-tridapalli.jpg); }

.avatar5 {
  background-image: url(../images/team/guilherme-rambo.jpg); }

.avatar6 {
  background-image: url(../images/team/bruno-bilescky.jpg); }

.avatar7 {
  background-image: url(../images/team/paulo-faria.jpg); }

.avatar8 {
  background-image: url(../images/team/marcelo-fabri.jpg); }

.avatar9 {
  background-image: url(../images/team/cynthia-zanoni.jpg); }

.avatar10 {
  background-image: url(../images/team/tales-pinheiro.jpg); }

.avatar11 {
  background-image: url(../images/team/douglas-fischer.jpg); }

.avatar12 {
  background-image: url(../images/team/vinicius-carvalho.jpg); }

.avatar13 {
  background-image: url(../images/team/juliana-salgado.jpg); }

.avatar14 {
  background-image: url(../images/team/henrique-leite.png); }

.avatar15 {
  background-image: url(../images/team/john-calistro.png); }

.avatar16 {
  background-image: url(../images/team/igor-ferreira.jpg); }

.avatar17 {
  background-image: url(../images/team/fellipe-caetano.jpg); }

.avatar19 {
  background-image: url(../images/team/joao-paulo-ros.png); }

.avatar20 {
  background-image: url(../images/team/cristiano-pio.png); }

.avatar21 {
  background-image: url(../images/team/thiago-holanda.png); }

.avatar22 {
  background-image: url(../images/team/arthur-cancado.png); }

.avatar23 {
  background-image: url(../images/team/kaique-pantosi.png); }

#hero.ch-background {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url("/images/ch-background.png");
  background-size: cover;
  padding: 10px;
  padding-bottom: 20px; }
  @media screen and (min-width: 485px) and (max-width: 757px) {
    #hero.ch-background img {
      max-width: 70%;
      margin: auto;
      display: flex; } }
  #hero.ch-background .row {
    align-items: center; }
    @media screen and (min-width: 960px) {
      #hero.ch-background .row {
        padding: 50px;
        justify-content: space-between; } }
  @media screen and (min-width: 720px) {
    #hero.ch-background .container-fluid {
      flex-grow: 1; } }
  #hero.ch-background h1 {
    font-size: 1.2rem; }
    @media screen and (min-width: 540px) {
      #hero.ch-background h1 {
        font-size: 2rem; } }
    @media screen and (min-width: 720px) {
      #hero.ch-background h1 {
        font-size: 3.5rem; } }
    @media screen and (min-width: 960px) {
      #hero.ch-background h1 {
        font-size: 2.5rem; } }
    @media screen and (max-width: 960px) {
      #hero.ch-background h1 {
        margin-top: 10px;
        text-align: center; } }
  #hero.ch-background nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 2rem; }
  #hero.ch-background a {
    color: white; }

#event-description {
  background-color: #F4F4F4; }
  @media screen and (max-width: 540px) {
    #event-description .description {
      margin-bottom: 20px; } }
  #event-description .sympla {
    justify-content: center;
    margin-top: 20px; }
  #event-description img {
    height: 100%; }

.speaker-block {
  margin-bottom: 20px; }
  .speaker-block img {
    border-radius: 100%;
    max-width: 100%;
    margin: auto;
    display: flex; }
  .speaker-block h2, .speaker-block p {
    text-align: center; }
  .speaker-block h2 {
    margin-top: 10px; }
    @media screen and (max-width: 540px) {
      .speaker-block h2 {
        font-size: 1rem; } }
    @media screen and (max-width: 960px) {
      .speaker-block h2 {
        font-size: 1.5rem; } }
  .speaker-block p {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 200; }

#speakers .cfp {
  justify-content: center; }
  @media screen and (max-width: 540px) {
    #speakers .cfp h2 {
      font-size: 2rem; } }
#speakers .cfp-container {
  display: flex;
  justify-content: center; }
#speakers .cfp-button {
  margin-top: 10px;
  color: white;
  padding: 15px;
  border-radius: 20px;
  background: #4A90E2;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  letter-spacing: 0;
  text-align: center; }

#schedule .date {
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 30px; }
#schedule .date:not(:first-child) {
  margin-top: 50px; }
#schedule .schedule-block {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #476229 solid; }

#date {
  padding: 20px;
  background-color: #043F28;
  color: white;
  text-align: center; }
  #date h2 {
    font-weight: 200;
    font-size: 1.2rem; }
    @media screen and (min-width: 720px) {
      #date h2 {
        font-size: 1.6rem; } }
    @media screen and (min-width: 960px) {
      #date h2 {
        font-size: 2rem; } }

#footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding: 20px; }
  @media screen and (max-width: 540px) {
    #footer .social-holder {
      justify-content: center;
      margin-top: 10px; } }
  #footer a {
    color: white; }
  #footer ul {
    margin: 0; }

.index-section {
  padding-top: 20px;
  padding-bottom: 20px; }
  .index-section p, .index-section a {
    font-size: 1.3rem;
    line-height: 2rem; }
    @media screen and (max-width: 540px) {
      .index-section p, .index-section a {
        font-size: 1rem;
        line-height: 1.5rem; } }
    @media screen and (max-width: 960px) {
      .index-section p, .index-section a {
        font-size: 1rem;
        line-height: 1.5rem; } }
  .index-section h1 {
    font-size: 5rem;
    font-weight: 600;
    color: #4A4A4A; }
    @media screen and (max-width: 540px) {
      .index-section h1 {
        font-size: 4rem; } }
