---
---
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-backdrop.in {
    filter:alpha(opacity=95);
    opacity:.95
}

.sp-dsc blockquote {
    margin: 20px 0;
    border-left: 5px solid #ff9a00;
}

.single-team .content button {
    margin-top: 10px;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: .5s ease-in !important;
    line-height: 2px;
}

.single-team .content button:hover {
    color: #333;
    background: #ff9a00;
    border-style: none
}

.sp-social {
    text-align: center;
}

.md-content > div ul li {
    list-style-type: disc;
    padding-left: 15px;
}

.sp-social ul li {
    display: inline-block;
}

.social-btn {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #212739;
    display: inline-block;
    color: #fff;
    line-height: 46px;
    text-align: center;
}

a.social-btn:hover {
    background: #ff9a00;
    color: #fff;
}

.modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.modal.fade .modal-dialog {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-70deg);
	-moz-transform: rotateX(-70deg);
	-ms-transform: rotateX(-70deg);
	transform: rotateX(-70deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;    
}

.modal.fade.in .modal-dialog {
 	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}



.emoji {
    font-style: normal;
}

.evento {
    min-height: 195px;
}

@import "header";
@import "talk-block";
@import "talk-page";