<footer id="footer" class="footer">
            <div class="container">                
                <div class="pull-right">
                    <div class="menu">
                        <ul class="clearfix">
                            {% include navigation.html %}
                        </ul>
                    </div>
                    <div class="sp-social">
                        <ul>
                            <li>
                                <a href="https://www.sympla.com.br/cocoaheads-conference-2016__97090" target="_blank" class="social-btn"><i class="fa fa-link"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/CocoaHeadsConf" target="_blank" class="social-btn"><i class="fa fa-twitter"></i></a>
                            </li>                             
                            <li>
                                <a href="https://pt-br.facebook.com/CocoaHeadsBrasil/" target="_blank" class="social-btn"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/CocoaHeadsBrasil" target="_blank" class="social-btn"><i class="fa fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/cocoaheadsbr/" target="_blank" class="social-btn"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://soundcloud.com/cocoaheadsbr" target="_blank" class="social-btn"><i class="fa fa-soundcloud"></i></a>
                            </li>                             
                        </ul>                         
                    </div>                     
                    <div class="copy-right">
			            <a href="https://iosdevbr.herokuapp.com">Participe da comunidade no Slack</a> |
			            <a href="https://github.com/iOSDevBR/Codigo-De-Conduta">Leia nosso código de conduta</a>
                    </div>
                </div>
            </div>
            <div class="text-center" style="position: relative;">
                <span class="small">Desenvolvido pela <a href="http://www.abacomm.com.br" target="_blank">Abacomm</a>. Mantido com <i class="fa fa-heart pomegranate"></i> pela comunidade CocoaHeads.</span> 
            </div>
        </footer>