{% assign t = site.data.2019.i18n.footer[page.lang] %}

<footer id="footer">
    <div>
        <a href="https://cocoaheads.com.br">
                <img src="{{t.madebyimage}}">
        </a>
    </div>

    <div class="container">
        <div>
                {{t.madeby}}
                {{t.collaborate}} <br>
                {{t.joincommunity}}
        </div>

        <div>
            <div class="social-holder">
                <div class="sp-social">
                    <ul>
                        <li>
                            <a href="https://twitter.com/nsbrazilconf" target="_blank" class="social-btn"><i class="fa fa-twitter"></i></a>
                        </li>                             
                        <li>
                            <a href="https://github.com/CocoaHeadsBrasil" target="_blank" class="social-btn"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/cocoaheadsbr/" target="_blank" class="social-btn"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://soundcloud.com/cocoaheadsbr" target="_blank" class="social-btn"><i class="fa fa-soundcloud"></i></a>
                        </li>                             
                    </ul>                         
                </div>                     
            </div>  
        </div>  
    </div>
</footer>