 <head>
        <meta charset="UTF-8">
        <title>CocoaHeads Conference || A maior conferência nacional de desenvolvedores iOS</title>
        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/common-style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
        <meta name="author" content="CocoaHeads Brasil">
        <meta property="og:title" content="CocoaHeads Conference 2018. Venha participar do maior evento brasileiro de iOS, watchOS, macOS e tvOS! Ingressos à venda e Call for Papers aberto!">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{site.url}}">
        <meta property="og:image" content="http://cocoaheadsconference.com.br/images/fbDez.png">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="720">
		<meta property="og:image:height" content="368">
        <meta property="og:description" content="{{site.description}}">        
    </head>