{% assign t = site.data.2019.i18n.head[page.lang] %}
 
 <head>
        <meta charset="UTF-8">
        <title>{{t.title}}</title>
        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/common-style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="author" content="NSBrazil 2020">
        <meta property="og:title" content="{{t.ogtitle}}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{site.url}}">
        <meta property="og:image" content="http://nsbrazil.com/images/fbDez.png">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="720">
		<meta property="og:image:height" content="368">
        <meta property="og:description" content="{{t.description}}">
    </head>
