<!-- jQuery js -->
<script src="assets/jquery/jquery-1.12.3.min.js"></script>
<!-- bootstrap js for modals -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- owl carousel js (for sponsors section) -->
<script src="assets/owl.carousel-2/owl.carousel.min.js"></script>         
<!-- slider -->
<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>

<!-- the script that ties them all (and some other stuff like the go back to top button) -->
<script src="js/script.js"></script>