<section id="sponsors" class="sponser-section">
            <div class="section-title">
                <h2>Patrocinadores e Apoiadores</h2>
                <h3>Empresas que acreditam e investem na comunidade</h3>
            </div>             
            <div class="container-fluid"> 
                <ul class="sponsors-slider">
                    <li>
                        <a href="http://www.sympla.com.br/" target="_blank">
                            <img src="images/sponsors/1.png" alt="Sympla">
                        </a>
                    </li>
                    <li>
                        <a href="http://abacomm.com.br/" target="_blank">
                            <img src="images/sponsors/2.png" alt="Abacomm">
                        </a>
                    </li>
                    <li>
                        <a href="http://imasters.com.br/" target="_blank">
                            <img src="images/sponsors/3.png" alt="iMasters">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mercadolivre.com.br/" target="_blank">
                            <img src="images/sponsors/4.png" alt="Mercado Livre">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.concretesolutions.com.br/" target="_blank">
                            <img src="images/sponsors/5.png" alt="Concrete Solutions">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.ifood.com.br/" target="_blank">
                            <img src="images/sponsors/6.png" alt="iFood">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/" target="_blank">
                            <img src="images/sponsors/7.png" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a href="http://work.co" target="_blank">
                            <img src="images/sponsors/8.png" alt="Work&Co">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.avenuecode.com/" target="_blank">
                            <img src="images/sponsors/9.png" alt="AvenueCode">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.toptal.com/" target="_blank">
                            <img src="images/sponsors/10.png" alt="TopTal">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.99taxis.com/" target="_blank">
                            <img src="images/sponsors/11.png" alt="99taxis">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.quaddro.com.br" target="_blank">
                            <img src="images/sponsors/12.png" alt="Quaddro Treinamentos">
                        </a>
                    </li>
                </ul>
            </div>
        </section>