.avatar {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    background-size: 100%;
    background-image: url(../images/resource/placeholder.png);    
}

.avatar1 {
    background-image: url(../images/team/francesco-perrotti.jpg);
}

.avatar2 {
    background-image: url(../images/team/rodrigo-borges.jpg);
}

.avatar3 {
    background-image: url(../images/team/fernando-bunn.jpg);
}

.avatar4 {
    background-image: url(../images/team/diogo-tridapalli.jpg);
}

.avatar5 {
    background-image: url(../images/team/guilherme-rambo.jpg);
}

.avatar6 {
    background-image: url(../images/team/bruno-bilescky.jpg);
}

.avatar7 {
    background-image: url(../images/team/paulo-faria.jpg);
}

.avatar8 {
    background-image: url(../images/team/marcelo-fabri.jpg);
}

.avatar9 {
    background-image: url(../images/team/cynthia-zanoni.jpg);
} 

.avatar10 {
    background-image: url(../images/team/tales-pinheiro.jpg);
}

.avatar11 {
    background-image: url(../images/team/douglas-fischer.jpg);
} 

.avatar12 {
    background-image: url(../images/team/vinicius-carvalho.jpg);
} 

.avatar13 {
    background-image: url(../images/team/juliana-salgado.jpg);
}

.avatar14 {
    background-image: url(../images/team/henrique-leite.png);
}  

.avatar15 {
    background-image: url(../images/team/john-calistro.png);
}  

.avatar16 {
    background-image: url(../images/team/igor-ferreira.jpg);
}

.avatar17 {
    background-image: url(../images/team/fellipe-caetano.jpg);
}

.avatar19 {
    background-image: url(../images/team/joao-paulo-ros.png);
}

.avatar20 {
    background-image: url(../images/team/cristiano-pio.png);
}

.avatar21 {
    background-image: url(../images/team/thiago-holanda.png);
}

.avatar22 {
    background-image: url(../images/team/arthur-cancado.png);
}

.avatar23 {
    background-image: url(../images/team/kaique-pantosi.png);
}  