

.footer {
    position: relative;
    padding: 65px 0 0;
}
.footer:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background:url(../images/overly/1.jpg) center center no-repeat;
    background-size: cover;
    z-index: 0;
}

.footer .pull-left {
    margin-top: 15px;
}

.footer .menu {
    position: relative;
    border-bottom: 1px solid#4a535c;
}

.footer .menu ul {
    position: relative;
}

.footer .menu ul li {
    position: relative;
    float: left;
    margin-left: 36px;
}
.footer .menu ul li:first-child {
    margin-left: 0px;
}

.footer .menu ul li a {
    position: relative;
    line-height: 69px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s ease;

}

.footer .menu ul li a:hover {
    color: #ff9a00;
    transition: .5s ease;
}


.footer .copy-right {
    float: right;
    position: relative;
    line-height: 59px;
    font-size: 15px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.footer .copy-right a {
    color: #eee;
    font-weight: normal;
    font-size: .8em;
}


.footer .copy-right span {
    color: #ff9a00;
}


/*style-2*/
.footer.style-2 {
    position: relative;
    padding: 80px 0 0px;
    background-image: url(../images/background/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer.style-2 img {
    margin-bottom: 19px;
}

.footer.style-2 .menu {
    position: relative;
    border-bottom: 0px;
    margin-bottom: 46px;
}
.footer .info h4 {
    position: relative;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 16px;
}

.footer.style-2 .copy-right {
    float: none;
    background: rgba(0, 0, 0, 0.1);

}
.footer.style-2 .copy-right span {
    color: #fff;

}



.footer .sp-social {
    position: relative;
    margin-top: 20px;
}

.footer .sp-social a {
    transition: all 0.2s ease-in;    
}

.footer .social-btn {
    background: none; 
}

.footer .sp-social ul {
    text-align: right;
}

.footer .sp-social li {
    list-style-type: disc;
    padding-left: 20px;
}

.footer a.social-btn:hover {
    background: #ff9a00;
    color: #373F4A;
}

.footer span.small {
    display: block;
    margin-top: 40px;
    font-size: .8em;
    font-style: normal;
    padding: 15px 0;
    background: rgba(0, 0, 0, .2);
}

.footer span.small, .footer span.small a {
    color: #f4f4f4;
}

.footer span.small i {
    color: #F34336;
}