$bgcol: #1E2029;
$event-green: #69BD45;
$event-yellow: #FFE900;
$event-blue: #00BAE3;

@import "index/hero.scss";
@import "index/event-description.scss";
@import "index/speakers.scss";
@import "index/schedule.scss";
@import "index/date.scss";
@import "index/footer.scss";
@import "index/place.scss";
@import "index/sponsors.scss";
@import "index/tickets.scss";
@import "index/nav.scss";

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
        "Lucida Grande", "Segoe UI";
}

h1, h2, h3, h4 {
    color: white;
}

button {
    color: white;
    border: 1px solid white;
    background-color: $bgcol;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-size: 22px;
}