

.speaker-details {
    position: relative;
    padding: 120px 0;
}
.speaker-details .img-box img {
    position: relative;
    width: 100%;
}

.speaker-details .post-content .section-title {
    margin-bottom: 30px;
}

.speaker-details .post-content .section-title h2 {
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 25px;
}

.speaker-details .post-content .section-title h3 {
    font-size: 16px;
    margin-top: 0px;
}


.speaker-details .post-content .text {
    overflow: hidden;
    margin-bottom: 15px;
}

.speaker-details .post-content .text p {
    font-size: 15px;
}

.speaker-details .list-info {
    position: relative;
}
.speaker-details .list-info ul li {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}
.speaker-details .list-info ul li span {
    font-size: 14px;
    font-weight: 400;
}

.speaker-details .list-info ul li a {
    font-size: 13px;
    color: #ff9a00;
    margin-right: 10px;
}



