.sponser-section {
    position: relative;
    background: #f9f9f9;
    text-align: center;
    padding-top: 122px;    
}

.sponser-section .owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}
.sponser-section .owl-carousel .owl-item {
    padding: 72px 0px;
    display: inline-block;
    float: inherit;
}
.sponser-section .owl-carousel .owl-item.active:after {
    position:absolute;
    content: "";
    right:-1px;
    top:-50px;
    bottom: 0;
    width:1px;
    height:300px;
    background: #eaeaeb;
}

.sponser-section ul {
    margin-top: 50px;
}