#talks {
    margin-top: 10px;
    margin-bottom: 10px;
    h3{
        margin-bottom: 10px;
    }
    .talk-block{
        text-align: left;
    }
}

.talk-block{
    background-color: deepskyblue;
    min-height: 250px;                    
    margin-bottom: 10px;
}