#talk-page{
    margin-bottom: 20px;
    h1{        
        margin-bottom: 20px;
    }
    aside{
        text-align: center;
        h2{            
            margin-top: 5px;
            font-size: 2.5rem;            
        }                    
        .description{
            text-align: left;
            font-size: 2rem;
            line-height: 1rem;
        }        
    }
    p{
        font-size: 2rem;
        color: #444;
    }
      
}

.talk-video{
    width: 100vw;
    height: 600px;
    @media(max-width: 1280px){
        height: 400px
    };        

    @media(max-width: 500px){
        height: 200px
    };        
    margin-bottom: 30px;
}  