
.our-team {
    position: relative;
    padding: 125px 0 91px;
}
.our-team:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background:url(../images/overly/white-splash.png) center center no-repeat;
    background-size: cover;
    z-index: 0;
}

.our-team .section-title {
    padding-bottom: 50px;
}

.our-team .single-team .img-holder {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
 
.our-team .single-team .img-holder img {
    width: 100%;
}



.our-team .single-team .img-holder .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(33,39,57, .75);
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
}
.our-team .single-team:hover .img-holder .overlay {
    opacity: 1;
}
.our-team .single-team .img-holder .overlay .inner {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
.our-team .single-team .img-holder .overlay .inner .content {
    vertical-align: middle;
    display: table-cell;
}
.our-team .single-team .img-holder .overlay h2 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #ff9a00;
    text-transform: capitalize;
}

.our-team .single-team .img-holder .overlay h3 {
    position: relative;
    margin-top: 6px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #bbb;
    font-style: italic;
}


.our-team .single-team .img-holder .overlay .social {
    position: relative;
}
.our-team .single-team .img-holder .overlay .social li {
    display: inline;
    margin: 0 6px;
}
.our-team .single-team .img-holder .overlay .social li a {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    transition: .5s ease-in;
}
.our-team .single-team .img-holder .overlay .social li a:hover {
    color: #ff9a00;
    transition: .5s ease-in;
}

.md-content {
    color: #212639;
    background: #ffffff;
    position: relative;
    margin: 0 auto;
    padding: 35px;
}

.md-content > div {
    margin: 0;
    font-weight: 300;
    font-size: 1.08em;
    text-align: left;
}

.folio {
    height: auto;
    text-align: center;
    padding: 0px;
}

.single-team figure:hover img {
    transform: scale(1.1,1.1);
    transition: .5s ease;
}

.sp-name {
    border-bottom: solid 1px rgba(33, 39, 57, 0.15);
    margin-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    color: #ff9a00;;
}

.sp-name {
    text-align: center;
}

.sp-dsc {
    border-bottom: solid 1px rgba(33, 39, 57, 0.15);
    margin: 20px 0;
    text-align: left;
    padding: 0px 0px 30px;
    font-size: 0.9em;
    color: 939393;
}

.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.md-close {
    position: absolute;
    right: 10px;
    top: 10px;
}