html {
    min-height: 100%;
}

.cfp-background {
    background-color: #1E2029;
    display: flex;
    justify-content: center;
    height: 100%;
}

#cfp {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1000px;
    align-items: center;
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img { 
        align-self: center;
        max-height: 50vh;
        max-width: 50vh;
        @media screen and (max-width: 500px) {
            padding-top: 50px;
        }
    }

    h1 {
        color: white;
        font-size: 10vw;
        margin-bottom: 10px;
        @media screen and (min-width: 900px) {
            font-size: 5vw;
        }
    }
    
    .text-muted {
        color: white;
        font-weight: 300;
        margin: 10px;
    }
    
    p {
        color: #69BD45;
        font-size: 2vw;
        padding-bottom: 10px;
        @media screen and (max-width: 900px) {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }

        @media screen and (max-width: 450px) {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }

        @media screen and (min-width: 900px) {
            line-height: 2vw;
        }
    }

    h2 {
        color: #FFE900;
        font-size: 3rem;

        @media screen and (max-width: 450px) {
            font-size: 1.5rem;
        }
    }

    .cfp-button {
        margin-top: 10px;
        background-color: #00BAE3;
        color: white;
        padding: 20px;
        border-radius: 60px;
        font-size: 1.5rem;
        margin-bottom: 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        width: 300px;
    }

    #sympla-widget-600507 {
        @media screen and (min-width: 600px) {
            width: 500px;
        }
    }
}