#date {
    padding: 20px;
    background-color: #043F28;
    color: white;
    text-align: center;
    h2 {
        font-weight: 200;
        font-size: 1.2rem;

        @media screen and (min-width: map-get($map: $container-max-widths, $key: md)){
            font-size: 1.6rem;
        }
        
        @media screen and (min-width: map-get($map: $container-max-widths, $key: lg)){
            font-size: 2rem;
        }
    }
}