#event-description {
    .description {
        @media screen and (max-width: map-get($map: $container-max-widths, $key: sm)){
            margin-bottom: 20px;
        }
    }

    .sympla {
        justify-content: center;
        margin-top: 20px;
    }

    img {
        height: 100%;
    }
}