#event-description {

    margin-bottom: 40px;
    text-align: center;

    p {
        margin-bottom: 20px;
        text-align: left;
    }

    .description {
        @media screen and (max-width: map-get($map: $container-max-widths, $key: sm)){
            margin-bottom: 20px;
        }
    }
}