#place {
    margin-bottom: 20px; 

    h1, h3 {
        text-align: center;
    }

    .where {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        justify-content: space-evenly;

        img {
            width: 100%;
        }

        @media screen and (max-width: map-get($map: $container-max-widths, $key: md)){
            text-align: center;
        }
    }

    .container {
        display: flex;

        @media screen and (max-width: map-get($map: $container-max-widths, $key: md)){
            flex-direction: column;
        }
    }

    #map {
        margin-top: 20px;
        height: 400px;
        width: 90vw;
        img {
            border-radius: 20px;
            max-height: 100%;
        }
    }

    .mk-map-view {
        border-radius: 15px;
    }

    strong {
        color: white;
    }
}