.speaker-block {
    margin-bottom: 20px;
    
    img {
        border-radius: 100%;
        max-width: 100%;
        margin: auto;
        display: flex;
    }
    h2, p {
        text-align: center;
    }
    h2 {
        margin-top: 10px;
        @media screen and (max-width: map-get($map: $container-max-widths, $key: sm)){
            font-size: 1rem;
        }
        @media screen and (max-width: map-get($map: $container-max-widths, $key: lg)){
            font-size: 1.5rem;
        }
    }
    p {
        font-size: 0.8rem;
        font-style: italic;
        font-weight: 200;
        color: #BBB;
    }
}

#speakers {
    p {
        margin-bottom: 20px;
    }

    .cfp {
        justify-content: center;
        h2 {
            @media screen and (max-width: map-get($map: $container-max-widths, $key: sm)){
                font-size: 2rem;
            }
        }
    }

    .cfp-container {
        display: flex;
        justify-content: center;
    }

    .cfp-button {
        margin-top: 10px;
        color: white;
        padding: 15px;
        border-radius: 20px;
        background: #4A90E2;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
        font-size: 1.5rem;
        letter-spacing: 0;
        text-align: center;
    }

}