#sponsors {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .platinum {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 300px;   
        }

        a:not(:first-child) {
            margin-left: 20px;
        }

        @media screen and (max-width: map-get($map: $container-max-widths, $key: md)){
            a:not(:first-child) {
                margin-top: 20px;
            }
        }

        @media screen and (min-width: map-get($map: $container-max-widths, $key: md)){
            img {
                max-height: 300px;
                margin-top: 10px;
            }
        }
        @media screen and (min-width: map-get($map: $container-max-widths, $key: md)) and 
                          (max-width: map-get($map: $container-max-widths, $key: lg)) {
            img {
                width: 300px
            }
        }
    }

    .gold {
        img {
            width: 250px
        }

        @media screen and (max-width: map-get($map: $container-max-widths, $key: md)){
            img {
                width: 200px;
            }
        }
    }

    h1 {
        text-align: center;
    }

    .silver {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @media screen and (max-width: map-get($map: $container-max-widths, $key: md)){
            img {
                width: 150px;
            }
        }

        @media screen and (min-width: map-get($map: $container-max-widths, $key: md)){
            img {
                max-height: 200px;
                margin-top: 10px;
            }
        }

        @media screen and (min-width: map-get($map: $container-max-widths, $key: md)) and 
                          (max-width: map-get($map: $container-max-widths, $key: lg)) {
            img {
                width: 200px;
            }
        }

    }



    @media screen and (max-width: map-get($map: $container-max-widths, $key: sm)){
        h1 {
            font-size: 2rem;
        }

        .platinum {
            flex-direction: column;
        }

        img {
            width: 100%;
        }
    }
}