      <section id="about" class="about">
            <div class="container"> 
                <div class="section-title center"> 
                    <h2>O Evento</h2> 
                    <h3>Esperada há muitos anos, a CocoaHeads Conference será a primeira conferência nacional focada exclusivamente em desenvolvimento para as plataformas Apple (iOS, watchOS, macOS e tvOS).<br /><br />
O objetivo é reunir mais de 150 desenvolvedores e entusiastas de todo o Brasil em atividades que vão
de Talks (palestras técnicas); Workshops (mão na massa); Qualificações (descubra qual é seu nível
técnico); Code Labs (traga seu código e tire suas dúvidas); Exposições (veja os cases do mercado e
traga seu app para receber feedbacks da comunidade) e claro, várias oportunidades de emprego!<br /><br />
O CocoaHeads Brasil está presente em mais de 15 cidades espalhadas por todo território nacional,
disseminando conhecimento sobre o mundo iOS e as tecnologias Apple. Esse é nosso primeiro evento
nacional! Participe! </h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3"> 
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/W6S7w_nlJ_w" frameborder="0" allowfullscreen></iframe>
                        </div>                         
                    </div>
                </div>
            </div>             
        </section>