<section id='cfp'>
    <img src='/images/logo/cocoaball.png'>
    <div class='content'>
        <h1>CocoaHeads Conference 2018</h1>
        <p>Venha palestrar na maior conferência de plataformas Apple do Brasil!</p>
        <p>9, 10 e 11 de Novembro, no Nubank.</p>
        <a href='/talks.html' class='text-muted'>
            Você também pode assistir algumas das talks da última edição clicando aqui
        </a>
        <a href="https://www.papercall.io/chbrconf2018">
            <button class='cfp-button'>
                Call For Papers
            </button>
        </a>
    </div>
</section>