<section id="event-description" class="index-section">
    <div class="container">
        <h1>O Evento</h1>
        <div class="row">
            <div class="col-lg-5 col-md-6 description">
                <p>
                    A CocoaHeads Conference é a conferência nacional
                    focada exclusivamente em desenvolvimento para as
                    plataformas Apple (iOS, watchOS, macOS e tvOS).
                    Serão mais de 300 desenvolvedores e entusiastas de
                    todo o Brasil em Talks e Workshops. 
                </p>
                <p>
                    O CocoaHeads Brasil está presente em mais de 15 cidades 
                    espalhadas por todo o território nacional, disseminando 
                    conhecimento sobre o mundo iOS e as tecnologias Apple. 
                    Participe!
                </p>

                <a href="https://github.com/iOSDevBR/Codigo-De-Conduta">Leia nosso código de conduta</a>
            </div>
            <img src="/images/nuoffice.jpg" srcset="/images/nuoffice.jpg 500w, /images/nuoffice@2x.jpg 1000w" class="col-lg-7 col-md-6">
        </div>
        <div class="row sympla">
            <div id="sympla-widget-376152" class="col-sm-12" height="auto"></div>
            <script src="https://www.sympla.com.br/js/sympla.widget-pt.js/376152"></script> 
        </div>
    </div>
</section>