{% assign t = site.data.2020.i18n.event[page.lang] %}


<section id="event-description" class="index-section bg-gray">
   
    <div class="container">
        <div class="description">
            {% capture postponed %}{% include index/_i18n/{{page.lang}}/postponed.md %}{% endcapture %}
            {{postponed | markdownify }}
            

            <a href="https://github.com/iOSDevBR/Codigo-De-Conduta">
                <button>
                    {{t.codeofconduct}}
                </button>
            </a>            
        </div>
    </div>
</section>