{% assign t = site.data.2019.i18n.place[page.lang] %}
 
<section id="place">
    <div class="container">
        <div class="where">-
            <h1>{{t.title}}</h1>
            <p>
                {{t.description}}
            </p>
            <a href="https://maps.apple.com/?address=Rua%20Capote%20Valente,%2039,%20Jardim%20Paulista,%20S%C3%A3o%20Paulo%20-%20SP,%2005409,%20Brasil&auid=15905546674757393787&ll=-23.561031,-46.673516&lsp=9902&q=Nubank&_ext=ChkKBAgEEBkKBAgFEAMKBQgGEN8BCgQIChAAEiQpAABIa+6RN8AxAABg53ZXR8A5AAAgCFGNN8BBAACgpPRUR8A%3D&t=m">
                {{t.mapsLinkw}}
            </a>
    
            <h3>Venue Sponsor</h3>
            <img src="/images/cubo-inverse.svg">
        </div>

        <div id="map"></div>
    </div>
</section>


<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
<script>
    mapkit.init({
        authorizationCallback: function(done) { done("eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjdZOExVQVU1MzYifQ.eyJpc3MiOiIzWFk1M01MWlNOIiwiaWF0IjoxNTY4NzIyMjY2LjAwMywiZXhwIjoxNTg4NzIyMjY2LjAwMywib3JpZ2luIjoiaHR0cHM6Ly9uc2JyYXppbC5jb20ifQ.c2uczoq-WRPmqP1d0lUSYOnED3kwwUyp0Z5gVq2aVUqD7l08_xErqFH7yY_pzSfaocd5JiZT_7TGt5VL_JK0GQ");
        },
        language: "en"
    });

    var target = new mapkit.Coordinate(-23.5966452, -46.6869082);
    
    var region = new mapkit.CoordinateRegion(
        target,
        new mapkit.CoordinateSpan(0.005, 0.005)
    );
    
    var map = new mapkit.Map("map", {
        center: target,
        region: region,
        showsUserLocation: true
    });

    var pointA = new mapkit.MarkerAnnotation(target, {
        draggable: false,
        selected: true,
        title: "CUBO",
        color: '#1ecf1a'
    });

    map.addAnnotations([pointA]);
</script>
