{% assign t = site.data.2019.i18n.place[page.lang] %}
 
<section id="place">
    <div class="container">
        <div class="where">-
            <h1>{{t.title}}</h1>
            <p>
                {{t.description}}
            </p>
            <a href="https://maps.apple.com/place?address=Alameda%20Vicente%20Pinzón%2C%2054%20Vila%20Ol%C3%ADmpia%2C%20São%20Paulo%20-%20SP%2C%20Brazil&ll=-23.596964%2C-46.686733&lsp=6489">
                {{t.mapsLink}}
            </a>
    
            <h3>Venue Sponsor</h3>
            <img src="/images/cubo-inverse.svg">
        </div>

        <div id="map"><img src="/images/map.jpg"></div>
    </div>
</section>
