<section id="schedule" class="index-section top-line">
    <div class="container">
        <h1>Horários</h1>
        <div class="row">
            <h2 class="date">Sábado, 09/11</h2>
                {% comment %} Isso vai ficar bem feio porque o Liquid não suporta arrays de verdade {%endcomment%}
                {% for talk in site.data.2019.schedule.saturday %}
                    {% include index/schedule-block.html 
                        talk = talk
                    %}
                {% endfor %}
            <h2 class="date">Domingo, 10/11</h2>
                {% for talk in site.data.2019.schedule.sunday %}
                    {% include index/schedule-block.html 
                        talk = talk
                    %}
                {% endfor %}
        </div>
</section>
