<section id="hero" class="rev_slider_wrapper">
            <h2 class="hidden">rev slider</h2>
            <div id="slider1" class="rev_slider" data-version="5.0">
                <ul>
                    <li class="gradient-overlay overly1" data-transition="slotzoom-horizontal" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/1.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                        <img src="images/main-slider/1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                        <div class="tp-caption sfl sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="-120" data-speed="1500" data-start="0" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <h3><i class="fa fa-map-marker"></i>&nbsp;Dias 02 e 03 de Dezembro, na sede do Mercado Livre (SP).</h3>
                        </div>
                        <div class="tp-caption sfl sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="-48" data-speed="1500" data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <h2>CocoaHeads Conference 2016</h2>
                        </div>
                        <div class="tp-caption sfl sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="57" data-speed="1500" data-start="1000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <div class="text">
                                <p>O primeiro evento nacional do CocoaHeads Brasil, reunindo mais de 150 desenvolvedores. <br />Muito conteúdo sobre iOS, watchOS, macOS e tvOS. Venha fazer parte!</p> 
                            </div>
                        </div>
                        <div class="tp-caption sfr sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="148" data-speed="1500" data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <a href="#tickets" class="btn-style-one bg-color-2">compre agora</a>
                        </div>
                        <div class="tp-caption sfr sfb tp-resizeme" data-x="left" data-hoffset="207" data-y="center" data-voffset="148" data-speed="1500" data-start="2000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <a href="#about" class="btn-style-one bg-color-1">saiba mais</a>
                        </div>
                    </li>
                    <li class="gradient-overlay overly2" data-transition="slotzoom-horizontal" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                        <img src="images/main-slider/2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                        <div class="tp-caption sft sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-120" data-speed="1500" data-start="0" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <h3><i class="fa fa-map-marker"></i>&nbsp;Dias 02 e 03 de Dezembro em Osasco, SP.</h3>
                        </div>
                        <div class="tp-caption sfb sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-48" data-speed="1500" data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <h2>Dois dias muito especiais</h2>
                        </div>
                        <div class="tp-caption sfb sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="57" data-speed="1500" data-start="1000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <div class="text text-center">
                                <p>Dias 02 e 03 de Dezembro, na novíssima sede do Mercado Livre! <br />Venha participar da primeira conferência dedicada exclusivamente ao desenvolvimento Apple.</p>
                            </div>
                        </div>
                        <div class="tp-caption sfl sfb tp-resizeme" data-x="center" data-hoffset="-90" data-y="center" data-voffset="148" data-speed="1500" data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <a href="#tickets" class="btn-style-one bg-color-2">compre agora</a>
                        </div>
                        <div class="tp-caption sfr sfb tp-resizeme" data-x="center" data-hoffset="88" data-y="center" data-voffset="148" data-speed="1500" data-start="2000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <a href="#about" class="btn-style-one bg-color-1">saiba mais</a>
                        </div>                         
                    </li>
                    <li class="gradient-overlay overly3" data-transition="slotzoom-horizontal" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/3.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                        <img src="images/main-slider/3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                        <div class="tp-caption sfl sfb tp-resizeme" data-x="right" data-hoffset="15" data-y="center" data-voffset="-120" data-speed="1500" data-start="0" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <h3>1o CocoaHeads Conference Brasil</h3>
                        </div>
                        <div class="tp-caption sfl sfb tp-resizeme" data-x="right" data-hoffset="15" data-y="center" data-voffset="-48" data-speed="1500" data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <h2>Talks, Workshops & Code Labs</h2>
                        </div>
                        <div class="tp-caption sfl sfb tp-resizeme" data-x="right" data-hoffset="15" data-y="center" data-voffset="60" data-speed="1500" data-start="1000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <div class="text text-right">
                                <p>Assista aos melhores palestrantes e aprenda tudo sobre iOS 10! <br />Traga seu código para tirar suas dúvidas e, quem sabe, encontre até seu próximo emprego!</p>
                            </div>
                        </div>
                        <div class="tp-caption sfr sfb tp-resizeme" data-x="right" data-hoffset="177" data-y="center" data-voffset="150" data-speed="1500" data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <a href="#tickets" class="btn-style-one bg-color-2">compre agora</a>
                        </div>
                        <div class="tp-caption sfr sfb tp-resizeme" data-x="right" data-hoffset="15" data-y="center" data-voffset="150" data-speed="1500" data-start="2000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                            <a href="#about" class="btn-style-one bg-color-1">saiba mais</a>
                        </div>                         
                    </li>
                </ul>
            </div>
        </section>