<section id="speakers" class="index-section">
    <div class="container">
        <h1>Speakers</h1>
        <div class="row">

            {% include index/speaker-block.html 
                image="/images/team/aline-borges.png"
                name="Aline Borges"
                title="Animations to the Next Level & RxSwift Challenge" %}

            {% include index/speaker-block.html 
                image="/images/team/gui-rambo.png"
                name="Guilherme Rambo"
                title="Engenharia Reversa 101" %}

            {% include index/speaker-block.html 
                image="/images/team/pietro-bruno.png"
                name="Pietro & Bruno"
                title="Porque juntamos nossas dependencias em um repositorio unico" %}

            {% include index/speaker-block.html 
                image="/images/team/juliana-chahoud.png"
                name="Juliana Chahoud"
                title="ThoughtWorks" %}
            
            {% include index/speaker-block.html 
                image="/images/team/andersongusmao.png"
                name="Anderson Santos Gusmão"
                title="Monitor de temperatura - Arduino + Bluetooth + iOS" %}
        
            {% include index/speaker-block.html 
                image="/images/team/victorabda.png"
                name="Victor Almeida"
                title="Prototipagem de baixo custo para Realidade Aumentada & Aumente a sua Realidade usando ARKit 2" %}
        
            {% include index/speaker-block.html 
                image="/images/team/flaviocaetano.jpg"
                name="Flávio Caetano"
                title="Siri Shortcuts" %}
        
            {% include index/speaker-block.html 
                image="/images/team/victorsmelo.jpeg"
                name="Victor dos Santos Melo"
                title="Novidades no ARKit 2" %}
        
            {% include index/speaker-block.html 
                image="/images/team/victormaraccini.jpg"
                name="Victor Maraccini"
                title="Desacoplando fluxos com coordinators e rotas" %}
            
            {% include index/speaker-block.html 
                image="/images/team/ronannunes.jpg"
                name="Ronan Rodrigo Nunes"
                title="Uma decisão pode custar caro" %}
        
            {% include index/speaker-block.html 
                image="/images/team/roberthcrew.png"
                name="Roberth, Carlos e Luis"
                title="Auditoria de performance com Xcode Instruments" %}
                    
            {% include index/speaker-block.html 
                image="/images/team/rafaelzanin.png"
                name="Rafael Zanin & Luan Costa"
                title="Custom Keyboards" %}
        
            {% include index/speaker-block.html 
                image="/images/team/carlossavi.jpeg"
                name="Carlos A. Savi"
                title="Machine Learning com Swift" %}

            {% include index/speaker-block.html 
                image="/images/team/francescoperrottigarcia.jpg"
                name="Francesco Perrotti-Garcia"
                title="Testes na prática" %}

            {% include index/speaker-block.html 
                image="/images/team/carlosrodrigues.jpg"
                name="Carlos Rodrigues"
                title="Distribuição: Revisão da Apple" %}
        
            {% include index/speaker-block.html 
                image="/images/team/pedroemanuel.jpg"
                name="Pedro Emanuel"
                title="De 0 a 99" %}
        </div>
    </div>
</section>