<section id="speakers" class="index-section">
    <div class="container">
        <h1>Speakers</h1>
        <div class="row">
            {% include index/speaker-block.html 
                image="/images/team/aline-borges.png"
                name="Aline Borges"
                title="Stone Pagamentos" %}
            {% include index/speaker-block.html 
                image="/images/team/gui-rambo.png"
                name="Guilherme Rambo"
                title="Groupon Latin America" %}
            {% include index/speaker-block.html 
                image="/images/team/pietro-bruno.png"
                name="Pietro & Bruno"
                title="Nubank" %}
            {% include index/speaker-block.html 
                image="/images/team/juliana-chahoud.png"
                name="Juliana Chahoud"
                title="ThoughtWorks" %}
            {% include index/speaker-block.html 
                image="/images/team/voce-cfp.png"
                name="Você!"
                title="Call for papers aberto até dia
                26/Outubro. Inscreva-se!"
                cfp=true %}
        </div>
    </div>
</section>