{% assign t = site.data.2019.i18n.sponsors[page.lang] %}

<section id="sponsors">
    <h1>{{t.title}}</h1>

    <div class='platinum'>
        <a href="https://mercadolivre.com.br">
            <img src="/images/sponsors/meli-white.svg" alt="Mercado Livre">
        </a>
    </div>
    
    <div class="silver">
        <a href="http://airbuddy.app">
            <img src="/images/sponsors/airbuddy.png" alt="AirBuddy App">
        </a>
    </div>
        
    <a href="mailto:contato@cocoaheads.com.br">
        <button>{{t.sponsorswanted}}</button>
    </a>
    
</section>