<section id="sponsors" class="index-section bg-gray">
    <div class="container">
        <h1>Patrocinadores</h1>
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-3 divider">
                <div class="row">
                    <h3>Venue e apoio</h3>
                    <a href="https://nubank.com.br"><img src="/images/sponsors/nu.jpg" class="nu"></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-9">
                <div class="row">
                    <h3>Platinum</h3>
                    <div class="platinum">
                        <a href="https://involves.com.br"><img src="/images/sponsors/involves.png"></a>
                        <a href="https://work.co"><img src="/images/sponsors/work-co.jpg"></a>
                    </div>
                </div>        
            </div>
        </div>
        <div class="row silver">
            <h3>Silver</h3>
            <a href="https://sympla.com.br"><img src="/images/sponsors/sympla.png"></a>
        </div>
    </div>
</section>