<section id="talks">
    <div class="container">
        <div class="section-title center">
            <h2>Talks</h2>
            <h3>Não pôde ir, quer mandar pra algum amigo ou relembrar alguma coisa? Nós temos a solução</h3>
        </div>
        
            <div>
            {% for video in site.data.videos.videos limit:6 %}
                    {% include matchId.html 
                    dataset = site.data.talks.talks
                    idToFind = video.talk
                    %}

                    {% include talk-block.html talk=matchedObject %}
            {% endfor %}
            </div>
            <div class="center">
                <a href="talks.html" class="btn-style-one bg-color-2">Veja a lista completa</a>
            </div>
        
    </div>
</section>