<section id="talks">
    <div class="container">
        <div class="section-title center">
            <h2>Talks</h2>
            <h3>Não pôde ir, quer mandar pra algum amigo ou relembrar alguma coisa? Nós temos a solução</h3>

            {% for video in site.data.videos.videos limit:4 %}

                    {% include matchId.html 
                    dataset = site.data.talks.talks
                    idToFind = video.talk
                    %}

                    {% include index/talk-block.html talk=matchedObject %}

            {% endfor %}

            <a href="talks.html" class="btn-style-one bg-color-2">Veja a lista completa</a>

        </div>
    </div>
</section>