<section id='cfp'>
    <img src='/images/logo/nsbrazil_logo_final.svg'>
        <div>
            <p>A maior conferência nacional de iOS está de volta!</p>
            <p><strong>9 e 10 de Novembro em São Paulo</strong></p>
        </div>
        
        <h2>Call for papers aberto!</h2>
        <a href='/talks.html' class='text-muted'>
            Assista a talks passadas clicando aqui
        </a>
        <a href="https://www.papercall.io/nsbrazil">
            <button class='cfp-button'>
                Submeta sua talk!
            </button>
        </a>
</section>