<section id='cfp'>
    <img src='/images/logo/nsbrazil_logo_final.svg'>
        <div>
            <p>{% t cfp.heading %}</p>
            <p><strong>{% t cfp.date %}</strong></p>
        </div>
        
        <h2>{% t cfp.opencfp %}</h2>
        <a href='/talks.html' class='text-muted'>
            {% t cfp.watch  %}
        </a>
        <a href="https://www.papercall.io/nsbrazil">
            <button class='cfp-button'>
                {% t cfp.submit %}
            </button>
        </a>
</section>