<section id='cfp'>
    <img src='/images/logo/nsbrazil_logo_final.svg'>
        <div>
            <p>The biggest iOS Conference in Brazil is back!</p>
            <p><strong>November 9th and 10th @ São Paulo</strong></p>
        </div>
        
        <h2>Call for papers open!</h2>
        <a href='/talks.html' class='text-muted'>
            Watch talks from previous versions clicking here
        </a>
        <a href="https://www.papercall.io/nsbrazil">
            <button class='cfp-button'>
                Submit your talk!
            </button>
        </a>
</section>