{% assign t = site.data.2019.i18n.cfp[page.lang] %}

<section id='cfp'>
    <img src='/images/logo/nsbrazil_logo_final.svg'>
        <div>
            <p>{{t.heading}}</p>
            <p><strong>{{t.date}}</strong></p>
        </div>
        
        <h2>{{t.opencfp}}</h2>
        <a href='/talks.html' class='text-muted'>
            {{t.watch}}
        </a>
        <a href="https://www.papercall.io/nsbrazil">
            <button class='cfp-button'>
                {{t.submit}}
            </button>
        </a>

        <h2>{{t.tickets-for-sale}}</h2>

        <div id="sympla-widget-600507" height="auto"></div>
        <script src="{{t.widget-src}}"></script>
</section>